* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.panel-left {
  flex: 0 0 40%;
  background: #c641b4;
  position: relative;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-content {
  text-align: left;
  width: 70%;
}

.panel-content h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.btn-outline {
  padding: 10px 28px;
  border-radius: 999px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.1);
}

.shape {
  position: absolute;
  opacity: 0.4;
}

.shape-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #e48ed6;
  top: -60px;
  left: -40px;
}

.shape-rect {
  width: 80px;
  height: 80px;
  background: #e48ed6;
  bottom: 40px;
  left: 20px;
  transform: rotate(-15deg);
}

.shape-triangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 120px solid #e48ed6;
  bottom: -40px;
  right: 40px;
}

.panel-right {
  flex: 1;
  background: #fffdfb;
}

.panel-signup {
  width : 80%;
  max-width : 350px;
}

.panel-signup h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  color: #c641b4;
}

.panel-signup-form .input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.panel-signup-form label {
  font-size: 24px;
  margin-bottom: 6px;
  color: #c641b4;
}

.panel-signup-from input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  font-size:14px;

}

.btn-signup {
  padding: 10px 28px;
  border-radius: 999px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  background: #c641b4;
}

.btn-signup:hover {
  background: #e48ed6;
}
